* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: hsl(0, 0%, 12%);
  border-radius: 10px;
  max-width: 345px;
  width: 100%;
  padding: 20px 35px;
  color:  hsl(0, 0%, 100%);
}

@media (min-width: 768px) {
  .card {
    max-width: 375px;
  }
}

.card .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .profile img {
  border-radius: 50%;
  max-width: 100px;
  margin-bottom: 1.5rem;
}

.card .profile h1 {
}

.card .profile .location {
  color: hsl(75, 94%, 57%);
  margin-bottom: 1.5rem;
  font-size: 14px;
}

.card .profile .role {
  margin-bottom: 1.5rem;
  font-size: 14px;
  color: #919191;
}

.card .links {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.0rem;
}

.card .links a {
  background-color: hsl(0, 0%, 20%);
  display: block;
  color: white;
  width: 100%;
  text-align: center;
  padding: 0.7rem 0;
  border-radius: 10px;
}

.card .links a:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
  transition: 0.4s;
}
